.topo {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #ccc;

}

main {
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    background-color: #ede8ee;
}

section, aside {
    width: 45%;
}

section header {
    padding: 10px;
    text-align: center;
    background-color: rgba(122, 128, 141, 0.5);
    color: white;
}

section div {
    padding-inline-start: 10px;
    text-align: justify;
    background-color: #eee1e1;

}

aside header {
    padding: 10px;
    text-align: center;
    background-color: rgba(122, 128, 141, 0.5);
    color: white;
}

aside div {
    padding-inline-start: 10px;
    text-align: justify;
    background-color: #eee1e1;
    
}